@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #1E1E1E; */
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 32px;
    position: relative;
}
  
.logo {
   
    font-size: 28px;
    font-weight: 800;
    /* margin-left: -7rem;np */
    background: linear-gradient(to right,#13B0F5, #E70FAA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}
  
.nav-links a {
    text-decoration: none;
    color: #2c2c54;
}
  
.nav-links svg {
    color: #2c2c54;
    cursor: pointer;
}

.fa {
    font-size: 24px;
    color: #2c2c54;
    cursor: pointer;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: transform 0.3s ease;
}

.nav-icon:hover {
   transition: transform 0.3s ease;
    transform: scale(1.2);
}
  
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
.sidebar {
    position: fixed;
    top: 50px;
    right: -250px;
    width: 250px;
    height: 50vh;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    z-index: 999;
}
  
.sidebar a {
    text-decoration: none;
    color: black;
}
  
  .sidebar svg {
    color: black;
    cursor: pointer;
}
  
.sidebar.active {
    right: 0;
}


  
/* Hero Styles */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80vh;
    align-items: center;
}

.hero-title, .hero-description {
    font-size: 48px;
}

.hero-description span {
    background: linear-gradient(to right,#13B0F5, #E70FAA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.hero-image {
  padding: 4px;
  background: linear-gradient( #13B0F5, #E70FAA);
  border-radius: 50%;
  width: 310px;
  height: 330px;
  display: inline-block;
}

.hero-image img {
    width: 300px;
    height: 320px;
    border-radius: 50%;  
    /* margin-top: 4px; */
}

.hero-button {
    background: linear-gradient(to right,#13B0F5, #E70FAA);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
}

.hero-button a {
    text-decoration: none;
    color: white;
}

.hero-button:hover {
    background: linear-gradient(to right,#E70FAA, #13B0F5);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}




/* About Style */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
}

.about-me h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    color: #42446E;
}

.about-me p {
    font-size: 1.2rem;
    text-align: center;
    color: #666666;
    margin: 1rem 0;
}



/* Stack Styling */ 

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;

}

.stack-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #42446E;
}

.stack-description {
    font-size: 1rem;
    color: #666666;
    margin: 1rem 0;
}

.stack-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.stack-item {
  margin-left: 5rem;
}

.stack-item .github {
    font-size: 6rem;
}

.stack-content ul {
    list-style: none;
}

/* Certificates Styling */
.certificates-section {
  text-align: center;
  margin: 5rem 0;
}

.certificates-section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #42446E;
}

.certificates-section p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 2rem;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.5rem;
  justify-items: center;
  margin: 0 5rem;
}

.certificate-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(19, 176, 245, 0.08);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 8px 24px rgba(19, 176, 245, 0.15);
}

.certificate-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


/* Projects Style */

.projects-section {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #42446E; 
  margin-bottom: 0.5rem;
}

.projects-header p {
  font-size: 1rem;
  color:#666666; 
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
  
  
.project-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1e1e2f; 
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} 
  
.project-image {
    height: 200px;
    padding-top: 3rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  
  .project-content {
    padding: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .project-content h3 {
    margin: 0 0 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .project-content p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
.tech-stack {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
  
.project-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
  
.project-links .btn {
    text-decoration: none;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, #13B0F5, #E70FAA);
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.project-links .btn:hover {
  background: linear-gradient(135deg, #E70FAA, #13B0F5); 
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-links .btn:active {
  transform: translateY(0);
}

.project-links .btn-secondary {
position: relative;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: transparent; 
  color: #fff; 
  border: none; 
  border-radius: 8px;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.project-links .btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #13B0F5, #E70FAA); 
  border-radius: 8px; 
  z-index: -1; 
  padding: 1.5px; 
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0); 
  mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0); 
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.project-links .btn-secondary:hover {
  background: #13B0F5; 
  color: #ffffff; 
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



  /* Contact Styles */
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.contact-container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.contact-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.contact-container p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 30px;
    background: #f3f6fd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.spacer {
  border-bottom: 2px dashed #ccc;
  margin: 4rem 0;
  width: 85% ;
  justify-self: center;
  align-self: center;
}



.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #13B0F5;
    box-shadow: 0 0 5px rgba(19, 176, 245, 0.5);
}

.contact-form textarea {
    resize: none;
    height: 200px;
    border-radius: 10px;
}

.contact-form button {
    padding: 0.8rem 1.5rem;
    background: linear-gradient(135deg, #13B0F5, #E70FAA);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
    background: linear-gradient(135deg, #E70FAA, #13B0F5);
    transform: translateY(-2px);
}

.contact-form button:active {
    transform: translateY(0);
}


/* Footer Style */

.footer {
    /* background-color: #f8f8f8; */
    padding: 2rem 1rem;
  }
  
  .footer-top {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }
  
  .footer-logo .logo-small {
    color: #999;
    font-size: 0.8rem;
  }
  
  .footer-logo .logo-main {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2c2c54;
  }
  
  .footer-logo .logo-main span {
    font-weight: 500;
    color: #2c2c54;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
  }
  
  .footer-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
  }
  
  .footer-icons a {
    color: #2c2c54;
    transition: transform 0.3s ease;
  }
  
  .footer-icons a:hover {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    max-width: 1100px;
    margin: 1rem auto 0;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .footer-nav {
    display: flex;
    gap: 1rem;
    font-size: 0.95rem;
  }
  
  .footer-nav a {
    color: #2c2c54;
    text-decoration: none;
  }
  
  .footer-credit {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .footer-credit .purple {
    color: #6c5ce7;
  }
  
  .footer-credit .pink {
    color: #e84393;
  }
  

  /* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: linear-gradient(135deg, #13B0F5, #E70FAA);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
    /* opacity: 0; */
    /* visibility: hidden; */
    transform: translateY(20px);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background: linear-gradient(135deg, #E70FAA, #13B0F5);
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.scroll-to-top:active {
    transform: translateY(0);
}




/* Dark Mode Styles */
.dark-mode {
  background: #181824;
  color: #f1f1f1;
}

.dark-mode .navbar,
.dark-mode .sidebar {
  background: #232336;
  color: #f1f1f1;
}

.dark-mode .nav-links a,
.dark-mode .sidebar a,
.dark-mode .footer-nav a,
.dark-mode .footer-credit,
.dark-mode .footer-logo .logo-main,
.dark-mode .footer-icons a  {
  color: #f1f1f1;
}

.dark-mode .project-card {
  background-color: #232336;
  color: #f1f1f1;
}

.dark-mode .project-content h3,
.dark-mode .project-content p,
.dark-mode .tech-stack {
  color: #f1f1f1;
}

.dark-mode .about-me h1,
.dark-mode .projects-header h2,
.dark-mode .stack-title,
.dark-mode .contact-container h2,
.dark-mode .certificates-section h2 {
  color: #ffffff;
}

.dark-mode .about-me p,
.dark-mode .stack-description,
.dark-mode .projects-header p,
.dark-mode .contact-container p,
.dark-mode .certificates-section p {
  color: #b0b3c6;
}

.dark-mode .contact-container {
  background: #232336;
  color: #f1f1f1;
}

.dark-mode .scroll-to-top {
  background: linear-gradient(135deg, #232336, #181824);
  color: #fff;
}

.dark-mode .project-links .btn-secondary {
  color: #13B0F5;
  border: 2px solid #13B0F5;
}

.dark-mode .project-links .btn-secondary:hover {
  background: #13B0F5;
  color: #fff;
}

.dark-mode-switch {
  display: flex;
  align-items: center;
  background: #e0e0e0;
  border-radius: 30px;
  padding: 4px 8px;
  cursor: pointer;
  width: 70px;
  position: relative;
  transition: background 0.3s;
  margin-left: 1rem;
}

.dark-mode-switch .icon {
  font-size: 1.2rem;
  transition: color 0.3s, opacity 0.3s;
  color: #888;
  opacity: 0.7;
  z-index: 2;
}

.dark-mode-switch .icon.active {
  color: #fbc02d; /* Sun color */
  opacity: 1;
}

.dark-mode-switch .icon.moon.active {
  color: #7c4dff; /* Moon color */
}

.dark-mode-switch .toggle-slider {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 22px;
  height: 22px;
  background: linear-gradient(135deg, #13B0F5, #E70FAA);
  border-radius: 50%;
  transition: left 0.3s, background 0.3s;
  z-index: 1;
}

.dark-mode-switch .toggle-slider.light {
  left: 6px;
}

.dark-mode-switch .toggle-slider.dark {
  left: 32px;
  background: linear-gradient(135deg, #232336, #181824);
}












html {
    scroll-behavior: smooth;
}