@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #1E1E1E; */
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-buttons {
    display: flex;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

.cancel-icon {
    font-size: 1.5rem;
    color: #333;
}

/* Hero Styles */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.hero-title, .hero-description {
    font-size: 48px;
}

.hero-image {
  padding: 4px;
  background: linear-gradient( #13B0F5, #E70FAA);
  border-radius: 50%;
  width: 310px;
  height: 310px;
  display: inline-block;
}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;  
    /* margin-top: 4px; */
}

/* About Style */


.works {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}