@media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 24px;
      cursor: pointer;
    }
     .logo {
      margin-right: 10rem;
      font-size: 25px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        
    }

    .hero-button {
      margin-left: 3rem;
      font-size: 18px;
    }

    .hero-content h1, .hero-content p {
        text-align: center;
        font-size: 28px;
    }

    .hero-img img {
        width: 100%;
        height: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
    }

    .about-me h1 {
      font-size: 28px;
      line-height: 0.7;
    }

    .about-me p {
      font-size: 16px;
    }

    .work-experience, .edeucation {
      display: none;
    }

    .stack-title {
      font-size: 28px;
    }

    .stack-description {
      font-size: 16px;
      margin-bottom: 2rem;
      padding: 0 2rem;
    }

    .stack-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5rem;
        gap: 2rem;
    }

    .stack-item {
      font-size: 6rem;
      margin: 0;
    }

    .stack-item svg {
      width: 90px;
      height: 90px;
    }

    .stack-item svg, 
    .stack-item .github, 
    .stack-item .typescript, 
    .stack-item .nextjs, 
    .stack-item .nodejs {
      margin: 1rem;
    }

    .certificates-section h2 {
      font-size: 28px;
      margin-top: -4rem;
    }

    .certificates-section p {
      font-size: 16px;
      padding: 0 2rem;
    }

    .certificates-grid {
      margin: 0 2rem;
      gap: 1rem;
    }

    .projects-header h2{
      font-size: 28px;
    }

    .projects-header p {
      font-size: 16px;
      padding: 0 2rem;
    }

    .contact-container {
      font-size: 28px;
    }

    .contact-container p {
      font-size: 16px;
    }


    .footer-top {
      border-bottom: none;
    }

    .footer-logo, .footer-contact, .footer-bottom {
      display: none;
    }

    .footer-icons {
     margin-left: 7rem;
     gap: 2rem;
    }

    .scroll-to-top {
      display: none;
    }
  }