@media (max-width: 490px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 250px;
        text-align: right;
        padding: 1rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .navbar-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .navbar-buttons {
        display: none;
    }
}